@charset "utf-8";

body{
    margin: 0 50 0 50;
     color: white;
        width: 92vw;
        height: 100vh;
        background-image: url(img/osaka.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        animation: move 10s infinite both;
}
@keyframes move{
    0% {
      background-size:100% auto;
    }
    50% {
      background-size:120% auto;
    }
    100% {
      background-size:100% auto;
    }
  }
/* 全体に関わる */
ul {
    list-style: none;
}
a:hover{
    font-size: 0.75cm;
}
a:link{
    color: white;
}
a:visited{
    color:yellow;
}
a {
    text-decoration: none;
}
.maincontent{
    margin: 20px;
    padding: 20px;
}
/* header関係 */
.header{
    padding: 20px;
}
.header-logo{
    text-align: center;
    font-size: 50px;
    background : repeating-linear-gradient(to right,
    #ff1a1a,
    #ff1a1a 31px,
    #000000 0,
    #000000 62px);
}
.header-intro{
    font-size: 20px;
    text-align: left;
    border-bottom: rgb(0, 0, 5) solid 3px;
    margin-top: 20px;
    background: linear-gradient(black,rgb(0, 0, 14));
    width:180px;
}
.header-list li{
    float: left;
    padding:15px;
    margin-right: 40px;
}
.header-image{
    margin-right: 150px;
}
/* 見出し系 */
h1{
    text-align: center;
}

.kuro{
    color: white;
    border-bottom: solid 3px rgb(247, 6, 6);
    border-top: rgb(250, 9, 9) solid 3px;
    background-color: black;
}
/* クイズコーナー */
#pop{
    display: inline;
    margin: 0 30px 0 0;
    padding: 4px;
    border: 2px solid #000000;
    background: linear-gradient(#f70404, #161010);
}
.quizback{
    background: linear-gradient(silver,white);
    width: 530px;
    color: black;
}
.cor{
    background-color: rgb(250, 4, 4);
    color: white;
}
.uncor{
    background-color: black;
    color: white;
}
#ex{
    background: linear-gradient(#fa0202, #161010);
    width: 330px;
}
#answershow{
    background: linear-gradient(silver,white);
    color:red;
    width:530px;
}
/* 問い合わせフォーム */
#forms:hover{
    background-image: url(../pic/onegai.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 1cm;
    background-size: 40%;
    background-color: rgb(121, 121, 122);width: 500px;
}
.unline{
    text-decoration: underline black;
}
#apart{
    margin-top: 8px;
}

#forms:hover #flow{
    display     : inline-block;
    white-space : nowrap;
    line-height : 1em;
    animation   : scrollAnime 4s linear infinite alternate;
  }
  @keyframes scrollAnime{
      0% {
          margin-left: 100%;
          transform  : translateX(-100%)
         }
    100% {
          margin-left: 0;
          transform  : translateX(0)
         }
  }
 